<%- include('partials/header', { title: 'gullfoss' }) %>

<main>
    <h1>gullfoss</h1>
    <p>gullfoss is a waterfall located in the canyon of the hvita river <br>
        souhtwest iceland. it is one of the most popular tourist attractions in the <br>
        counrty, and is includeed in golden cricle tours of the counrtyside near reykjavik        
    </p>
    <a href="https://en.wikipedia.org/wiki/Gullfoss">more information about gullfoss</a>
</main>

<%- include('partials/footer') %>