<%- include('partials/header', { title: 'menu' }) %>
<main>
    <h1>menu</h1>
    <ul>
        <% menu.forEach(item => { %>
            <li><%= item.name %> - <%= item.day %></li>    
           <% }) %>
    </ul>
</main>
<%- include('partials/footer') %>